.image {
    width: max-content;
}

.text {
    text-align: center;
    top:50%;
    color: white;
    font-family: "futura-pt-bold", sans-serif ;
    position: absolute;
    margin-left: 40%;
    

}
.text button {
    background-color: white;
    border-style: none;
    padding: 2%;
    font-family: "futura-pt", sans-serif ;

}
.text1 {
    font-size: 97%;
    font-weight: bold;
}
.text2 {
    font-size: 96%;
    font-weight: bold;
}
img {
    max-width: 100%;
    height: auto;
    }

.product {
    
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;

}