
nav {
    background-color: white;
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;

}

.container-fluid a {
    font-family: "futura-pt-bold", sans-serif ;
}

.navbar-collapse {
    align-items: center;
    font-family: "futura-pt-bold", sans-serif ;
    margin-left: 20%;
}

.links {
    margin: 10px auto;
}

.links a {
    font-family: "futura-pt-bold", sans-serif ;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-weight: bold; */
    text-decoration: none;
    color: black;
    padding: 10px;
}
